*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-seri
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
 li{
list-style: none;
 }
 
h1{
    color: black;

 }
.side_menu{
  position: fixed;
  background-color: rgb(233, 7, 7);
  width: 40vh;
   height:100vh ;
   display: flex;
   flex-direction: column;
 }
 .brand_name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
  
.side_menu li{
    font-size: 24px;
    padding: 10px 40px;
    color:white;
    display: flex;
    align-items: center;
}
.side_menu li:hover{
    background-color: white;
    color: rgb(255, 0, 0);
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 81.5vw;
    height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .header .nav .search input{
border: none;
background: #f1f1f1;
padding: 12px;
width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .header .nav .search button i{
width: 15px;
height: 15px;
margin-bottom: 2px;
}
.btn{
    background: indianred;
    color: #f1f1f1;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
      
}
.btn:hover{
    background-color: white;
    color: rgb(160, 7, 7);
    padding: 3px 8px;
}
 /* .title{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table{
    padding: 10px;
}
th,td{
    text-align: left;
    padding: 8px;
/* }  */
.container .header .nav .user img{
    width: 40px;
    height: 40px;

}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
 }
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;

}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: white;
}
.container .content .card{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.container .content .card .cards{
    width: 230px;
    height: 130px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .content2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}
.container .content .content2 .payment{
   min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content2 .new-student{
    flex: 2;
    min-height: 50vh;
    background: white;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content2 .new-student table td:nth-child(1) img{
    height: 32px;
    width: 32px;
}

@media screen and (max-width:1050px){
    .side_menu li{
        font-size: 18px;
    }

}
@media screen and (max-width:940px){
    .side_menu li span{
        display: none;
    }
    .side_menu{
        align-items: center;
    }
    .side_menu li i{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:1050px){
    .brand_name h1{
        font-size: 16px;
    }
    .container .content .card{
        justify-content: center;
    }

}
